.control-group {
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: rgb(158, 170, 151);
  opacity: 95%;
}
.form-control {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: white;
  margin-bottom: 10px;
}
.form-control div {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 0 auto; */
}
.border-input {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}

.btn-submit {
  margin: 0 auto;
  border: 1px solid rgb(181, 173, 173);
  padding: 5px 10px;
  border-radius: 15px;
}
.btn-submit:hover {
  background-color: rgb(185, 240, 164);
}
.btn-invalid {
  margin: 0 auto;
  border: 1px solid rgb(17, 17, 17);
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(232, 157, 157);
}

input,
select {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1rem;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 1000;
  font-size: 14px;
}
option {
  /* font-family: 'Edu VIC WA NT Beginner', cursive; */
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 700;
  font-size: 17px;
}

.invalid label {
  /* color: red; */
}

.invalid input {
  border-color: red;
  background-color: #dccccc;
}

label {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 600;
  font-size: 20px;
}
.error-text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  color: red;
}
