header {
  background-color: #d1e6d6;
}

.header {
  max-width: 1100px;
  display: flex;
  padding: 1% 1%;
  justify-content: space-between;
  align-items: center;
}

.ul-main {
  list-style: none;
  display: flex;
  gap: 0 20px;
  margin: 0;
  padding: 0;
}

.directory {
  position: relative;
}

.ul-dir-dropdown {
  display: none;
  background-color: #d1e6d6;
  position: fixed;
  width: 150%;
  gap: 10px;
  padding: 10px 10px 10px 10px;
}

.ul-dir-dropdown a {
  border-bottom: none;
  font-size: 11px;
}

.directory:hover .ul-dir-dropdown {
  display: flex;
  flex-direction: column;
  font-size: 5px;
  text-align: left;
}

.service {
  position: relative;
}
.ul-serv-dropdown {
  display: none;
  background-color: #d1e6d6;
  position: fixed;
  width: 200%;
  gap: 10px;
  padding: 10px 10px 10px 10px;
  /* z-index: 100; */
  /* gap: 5px; */
}
.ul-serv-dropdown a {
  border-bottom: none;
  font-size: 11px;
}
.service:hover .ul-serv-dropdown {
  display: flex;
  flex-direction: column;
  font-size: 5px;
  text-align: left;
  /* width: 250%; */
}

.nav li {
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.2s;
}
.nav li:hover {
  transform: scale(1.1);
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #fb00b0;
  border-bottom: 1px solid #171e1a;
}

/* .ul-directory a:hover,
.ul-directory a:active,
.ul-directory a.active {
  color: black;
  border-bottom: none;
} */

.logo {
  max-width: none;
  width: 80px;
  height: 50px;
}
.menu-btn {
  display: none;
}

@media (max-width: 900px) {
  .ul-main {
    gap: 0 13px;
  }
  a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  header {
    /* position: fixed; */
    height: 70px;
    margin-bottom: 10px;
  }
  .logo {
    /* padding: 2%; */
    top: 16px;
    left: 16px;
    position: absolute;
    width: 60px;
    height: 35px;
  }
  .logo-scroll {
    top: 0px;
    left: 0px;
    position: fixed;
    /* opacity: 50%; */
  }

  .menu-btn {
    display: flex;
    top: 10px;
    right: 10px;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 45px;
    /* border-radius: 50%; */
    padding: 11px;
    background-color: transparent;
    /* border: none; */
    cursor: pointer;
    position: absolute;
  }

  .menu-btn span {
    height: 3px;
    width: 100%;
    /* background-color: #131212; */
  }
  .nav {
    display: none;
  }
  .mobileMenu {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    height: 100vh;
    z-index: 5;

    padding-top: 140px;
  }
  .mobileMenu .ul-main {
    flex-direction: column;
    margin: 0 auto;
  }
  .mobileMenu li {
    text-align: center;
  }
  .mobileMenu a {
    color: #fff;
    font-size: 4vh;
  }
  .logo {
    z-index: 10;
  }
  .menu-btn {
    z-index: 10;
  }
  .black {
    background-color: #fff;
  }
  .white {
    background-color: #000;
  }
}
