header {
  background-color: #d1e6d6;
}

.header {
  width: 100%;
  /* height: 4rem; */
  display: flex;
  padding: 1% 1%;
  justify-content: space-between;
  align-items: center;

  /* background-position: 100%; */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 0 20px;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 0.9rem;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #ea3bca;
  border-bottom: 1px solid #171e1a;
}

img {
  max-width: none;
  width: 80px;
  height: 50px;
}
.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 2%;
  }
  header ul {
    /* text-align: left; */
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 45px;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 2.5%;
    background-color: transparent;
    /* border: none; */
    cursor: pointer;
  }
  .menu-btn:hover {
    background-color: #171e1a;
  }
  .menu-btn span {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .nav {
    display: none;
  }
  .mobileMenu {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    height: 100vh;
    z-index: 5;

    padding-top: 140px;
  }
  .mobileMenu ul {
    flex-direction: column;
    margin: 0 auto;
  }
  .mobileMenu li {
    text-align: center;
  }
  .mobileMenu a {
    color: #fff;
    font-size: 4vh;
  }
  .logo {
    z-index: 10;
  }
  .menu-btn {
    z-index: 10;
  }
  /* .nav li {
    margin: 0 12px;
    font-size: 13px;
    font-weight: bold;
    gap: 0 20px;
    color: #fff;
  } */
}
