@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ebf2ed;
    background-image: url('dec-3.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Sedgwick Ave Display', cursive; */
  }
}

/*

body {
  margin: 0;
  width: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
/*    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ebf2ed;
    background-image: url('dec-3.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
  }
  

*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 6px;
  margin-top: 10px;
}
header {
  z-index: 100;
}
main {
  z-index: 200;
}

@media (max-width: 768px) {
  .post-elem {
    flex-direction: column;
  }
  .mobile-form {
    width: 90%;
    /* font-size: 10px; */
  }

  h1 {
    margin: 0 auto;
    font-size: 30px;
    position: absolute;
    top: 12px;
    left: 35%;
  }

  .login-media {
    width: 100%;
  }
  .registred-media {
    width: 100%;
  }
}
@media (max-width: 400px) {
  h1 {
    margin: 0 auto;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 31%;
  }
}
